@charset 'utf-8';

.desc-class {
  background-color: transparent;
}

.movie-desc {
  p {
    margin: 0.05rem 0 0;
  }
}

.sub-content {
  margin-bottom: 0.3rem;
}

.post-area {
  padding-top: 100%;
  background-color: #222;
  margin: -50px -0.1rem 0.3rem;
}
