@charset 'utf-8';

.mint-header.desc-class {
  background-color: transparent;
}

.movie-desc {
  p.gray12 {
    margin: 0.15rem 0 0;
  }
}

.sub-content {
  margin-bottom: 0.3rem;
}

.post-area {
  padding-top: 100%;
  background: #222 no-repeat center center / auto 85%;
  margin: -50px -0.1rem 0.3rem;
}

.movie-script {
  text-align: justify;

  p:not(:first-child) {
    margin-top: 0;
  }

  > p:first-child {
    text-indent: 2em;
  }
}
