@charset 'utf-8';

.latest-wrap {
  overflow: scroll;
  margin: 0 -0.1rem 0.1rem;
}

.latest-movie {
  $w: 1.6rem;

  width: $w * 4 + 0.1rem * 4;
  font-size: 0;
  padding-bottom: 15px;

  > figure {
    @include size($w);

    position: relative;
    background-color: #eee;
    display: inline-block;
    margin: 0;
    margin-left: 0.1rem;
    font-size: 0.14rem;
    overflow: hidden;
    box-shadow: 0 2px 8px #ccc;

    > img {
      width: 100%;
    }

    > figcaption {
      @include absolute(bottom 0 left 0 right 0);

      line-height: .4rem;
      text-align: center;
      background-color: rgba(0,0,0,0.6);
      color: white;
    }
  }
}

.section-title {
  &.mint-cell {
    background-image: none;
  }

  .mint-cell-wrapper {
    padding: 0;
    background-image: none;
  }

  .mint-cell-allow-right::after {
    right: 1px;
  }

  .mint-cell-value {
    margin-right: 0.2rem;
  }
}

.movie-sort {
  display: block;
  width: 100%;
  margin-bottom: 0.1rem;
}
